$notificationBottom: 9vh;

@mixin position($width: 400px) {
  z-index: 1000;
  left: calc(50% - #{$width} / 2);
  box-sizing: border-box;
  bottom: $notificationBottom;
  padding: 15px 10px;
  width: $width;
  line-height: 1.3;
  user-select: none;
}

#notification {
  @include position(250px);
  position: fixed;
  bottom: 0;
  opacity: 0;
  border: 1px solid;
  border-radius: 10px;
  background-color: $basicColor5;
  font-size: 1em;
  color: $basicColor1;

  .description {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
  }

  &.down {
    animation-name: down;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes down {
      0% {
        bottom: $notificationBottom;
        opacity: 0.95;
      }

      100% {
        bottom: 0;
        opacity: 0;
      }
    }
  }

  &.up {
    animation-name: up;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes up {
      0% {
        bottom: 0;
        opacity: 0;
      }

      100% {
        bottom: $notificationBottom;
        opacity: 0.95;
      }
    }
  }

  @media (min-width: $tablets) {
    @include position();
  }
}
