.game-savanna {
  position: static;
  height: 100%;
  background: url("./images/background.jpg") no-repeat bottom center fixed;
  background-size: unset;
  overflow: hidden;

  h3 {
    color: $fontColor;
  }
}

