.button {
  color: red;
}

.menu {
  background-color: gray;
}

.menu-item {
  color: red;
}

.user-email {
  color: green;
}

.log-out {
  background-color: gray;
}

.logo {
  width: 100px;
  height: 100px;
  background-color: blue;
}
