.learning-words {
  .button-close,
  .button-check-word {
    transition: $basicTransition;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    background-color: $basicColor5;
    border: solid 1px #9b9997;
    color: $basicColor1;

    &:hover {
      background-color: $basicColor2;
    }

    &:active {
      transition: none;
      background-color: $basicColor5;
    }
  }

  .button-close,
  .button-finish {
    order: 2;
  }

  .button {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $basicColor5;
    border: solid 1px #9b9997;
    color: $basicColor1;
  }

  .button-finish {
    animation-name: finish-btn;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    @keyframes finish-btn {
      0% {
        background-color: $basicColor5;
        color: $basicColor1;
      }
      100% {
        background-color: $basicColor3;
        color: $fontColor;
      }
    }
  }
}

.swiper-slide {
  &__associative {
    order: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 500px;

    img {
      width: 100%;
    }
  }

  &__example {
    order: 2;
  }
  &__meaning {
    order: 3;
  }
  &__word-translation {
    order: 1;
  }
  &__transcription {
    order: 4;
  }
  &__difficulty-buttons {
    order: 7;
  }
  &__vocabulary-buttons {
    order: 8;
  }
  .skip-container {
    order: 10;
    width: 97%;
    text-align: right;
  }
  .button-check-word,
  &__answer {
    order: 6;
  }
  .button-play-audio {
    order: 9;
    width: 40px;
    height: 40px;
    img {
      width: 100%;
    }
  }
  &__word-input {
    order: 5;
  }

  &__difficulty-buttons {
    display: grid;
    grid-template-areas: "a";
  }
  &__vocabulary-buttons {
    display: grid;
    grid-template-areas:
      "title title"
      "btn btn";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .vocabulary-buttons__title {
      grid-area: title;
      align-self: end;
    }
  }
}
