.start-display {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #f6f3f1;
  width: 100%;
  height: 100vh;

  .logo-of-game {
    margin: 2%;
    width: 450px;
    height: auto;

    @media screen and (max-width: 550px) {
      width: 100%;
    }
  }

  .name-of-game {
    color: $basicColor4;
    font-family: $headerFont;
    font-size: $headerFontSize;
    text-transform: uppercase;
  }

  .description-of-game {
    margin-top: 0.5%;
    color: $basicColor4;
    font-family: $mainFont;
    font-size: $fontSize;
    text-transform: uppercase;
  }

  .button-for-game {
    margin: 2%;
    flex-direction: row;
  }

  .button {
    overflow: hidden;
    text-align: center;
    margin-right: 20px;
    padding: 10px 0;
    outline: none;
    border: $lightBorder;
    cursor: pointer;
    font-family: $mainFont;
    text-transform: uppercase;
    background-color: $basicColor3;
    color: $fontColor;
    font-size: 1.6em;
    width: 265px;
    height: auto;

    @media screen and (max-width: 600px) {
      margin: 2%;
    }
  }
}
