.fieldset {
  font-size: $fontSize;

  &__legend {
    margin-bottom: 10px;
  }

  &__control-inline {
    display: inline-flex;
  }

  &__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
  }

  &__radio + &__label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
  }

  &__radio + &__label:before {
    content: '';
    position: absolute;
    left: 5px;

    width: 15px;
    height: 15px;

    border: 2px solid $basicColor4;
    border-radius: 4px;
  }

  &__radio:checked + &__label:before {
    background-color: $basicColor3;
  }
}
