.main-settings {
  .input {
    width: 40px;
    height: 20px;
    text-align: center;
  }

  p {
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.4em;
  }

  select,
  option {
    font-size: 1em;
    padding: 10px;
  }

  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
  }

  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
  }

  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #148abd;
    border-bottom: 4px solid #148abd;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
  }

  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
}

.main-settings__words {
  .words-title,
  .collection-title,
  .level-title {
    margin-bottom: 15px;
  }
}

.words__total-words,
.words__new-words {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.words__collection,
.words__level {
  margin-bottom: 10px;
  text-align: center;
}

.main-settings__cards,
.main-settings__buttons {
  margin-bottom: 10px;

  & > div {
    margin-bottom: 5px;

    @media screen and (min-width: $laptops) {
      margin-left: 30px;
    }
  }
}

.main-settings__control-block {
  margin-top: 30px;
}
