$headerFont: 'Montserrat Bold', sans-serif;
$mainFont: 'Montserrat Light', sans-serif;
$mainFont2: 'Montserrat Regular', sans-serif;

$fontSize: 20px;
$headerFontSize: 30px;

$fontColor: #fff;
$basicColor1: #000;
$basicColor2: #00ffff;
$basicColor3: #68c2e8;
$basicColor4: #68c2e8;
$basicColor5: #0e1e40;

