$headerFont: 'Montserrat Bold';
$mainFont: 'Montserrat Light';
$mainFont2: 'Montserrat Regular';

$fontSize: 20px;
$headerFontSize: 30px;

$fontColor: #fff;
$basicColor1: #000;
$basicColor2: #00ffff;
$basicColor3: #68c2e8;
$basicColor4: #68c2e8;
$basicColor5: #0e1e40;

