.vocabulary {
  position: relative;
  padding: 0.5rem;
  height: 100vh;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  &__nav {
    display: flex;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 20vw;
      flex-direction: column;
      border-right: 1px solid $basicColor4;
    }
  }

  &__tab {
    width: calc(100% / 3);
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    &--active {
      background-color: $basicColor3;
      font-family: $headerFont;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: calc(100% / 3);
    }
  }

  &__info {
    text-transform: uppercase;
    border-bottom: $lightBorder;
    @media screen and (min-width: 768px) {
      width: calc(100% - 20vw);
      margin-left: 20vw;
    }
  }

  &__list {
    @media screen and (min-width: 768px) {
      overflow-y: auto;
      width: calc(100% - 20vw);
      margin-left: 20vw;
      max-height: 100vh;
    }
  }

  &__item {
    padding: 1rem 0;
    border-bottom: $lightBorder;
    transition: all 300ms;
    &.hidden {
      overflow: hidden;
      height: 0;
      padding: 0;
      opacity: 0;
    }
  }

  &__image {
    display: block;
    margin: auto;
    width: 300px;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__word {
    font-size: $fontSize;
    font-family: $headerFont;
    color: $basicColor4;
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;

    @media screen and (min-width: 768px) {
      width: calc(100% - 20vw);
      margin-left: 20vw;
      margin-top: auto;
    }
  }

  &__prev {
    margin-right: auto;
  }

  &__next {
    margin-left: auto;
  }

  i,
  b {
    font-family: $headerFont;
  }

}
