.game-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 10px;

  font-size: $fontSize;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: $headerFontSize;
  }

  .fieldset {
    margin-bottom: 20px;
  }

  &__logo {
    width: 100%;
    max-width: 550px;
  }

  &__title {
    line-height: 2;
    font-family: $headerFont;
  }

  &__description {
    max-width: 400px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      max-width: 500px;
    }
  }

  &__button-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 250px;

    @media (min-width: 768px) {
      max-width: 320px;
    }
  }

  &__button {
    height: 40px;
    width: 95px;
    padding: 0;

    transition: 0.1s;

    border: $lightBorder;
    outline: none;

    cursor: pointer;

    background-color: $basicColor3;

    font-size: $fontSize;
    font-family: $mainFont;
    color: $fontColor;
    text-transform: uppercase;

    @media (min-width: 768px) {
      width: 120px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
