@import "./LearningWords/LearningWords";

.main-page {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 650px;
  text-align: center;
  font-family: $mainFont2;
  font-size: $fontSize;
  color: $basicColor1;

  .button {
    // width: 100px;
    // height: 33px;
    font-size: 0.8em;
  }
}
