.main-page {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 90vw;
  min-height: 70vh;
  text-align: center;
  font-family: $mainFont2;
  font-size: $fontSize;
  color: $basicColor1;

  .button--light {
    font-size: 0.8em;
  }

  @media (min-width: $laptops) {
    font-size: 23px;
  }
}


