.learning-words {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  max-width: 800px;

  .training {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    & > div {
      margin-bottom: 20px;
    }
  }

  .button-close,
  .button-check-word {
    transition: $basicTransition;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    background-color: $basicColor5;
    border: solid 1px #9b9997;
    color: $basicColor1;

    &:hover {
      background-color: $basicColor2;
    }

    &:active {
      transition: none;
      background-color: $basicColor5;
    }
  }

  .button-close,
  .button-finish {
    order: 2;
  }
  .progress-bar {
    order: 0;
  }

  .button {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $basicColor5;
    border: solid 1px #9b9997;
    color: $basicColor1;
  }

  #notification > .content {
    display: flex;
    flex-flow: column;

    .close-notification-container {
      text-align: right;
    }

    .button-close-notification {
      border-radius: 50%;
      padding: 0;
      width: 30px;
      height: 30px;
    }
  }

  @media screen and (min-width: $laptops) {
    font-size: 1.1em;
  }
}

.completion-notice {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  &__wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000ab;
  }

  &__content {
    width: 90%;
    max-width: 500px;
    height: 80%;
    max-height: 600px;
    background-color: $basicColor3;
  }
}

.swiper {
  order: 1;
  margin: 0 auto;
  width: 90%;
  height: 80%;
}

.swiper__container {
  overflow: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  user-select: none;
  list-style: none;
}

.swiper-slide {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transition-duration: 1s;
  align-items: center;
  box-sizing: border-box;
  border: solid 1px #9b9997;
  border-radius: 7px;
  padding: 5px;
  height: 100%;
  background-color: $basicColor5;
  text-align: center;
  font-size: 0.8em;
  color: $basicColor1;

  & > div,
  & > button {
    margin: 5px;
  }

  &__associative {
    order: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 500px;

    img {
      width: 100%;
    }
  }

  &__example {
    order: 2;
  }
  &__meaning {
    order: 3;
  }
  &__word-translation {
    order: 1;
  }
  &__transcription {
    order: 4;
  }
  &__difficulty-buttons {
    order: 7;
  }
  &__vocabulary-buttons {
    order: 8;
  }
  .skip-container {
    order: 10;
    width: 97%;
    text-align: right;
  }
  .button-check-word,
  &__answer {
    order: 6;
  }
  .button-play-audio {
    order: 9;
    width: 40px;
    height: 40px;
    img {
      width: 100%;
    }
  }
  &__word-input {
    order: 5;
  }

  &__difficulty-buttons {
    display: grid;
    grid-template-areas: "a";
  }
  &__vocabulary-buttons {
    display: grid;
    grid-template-areas:
      "title title"
      "btn btn";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .vocabulary-buttons__title {
      grid-area: title;
      align-self: end;
    }
  }
  &__translation,
  &__meaning,
  &__example,
  &__answer,
  &__transcription {
    padding: 5px;
    border-bottom: 1px solid #9b9997d2;
    width: 95%;
  }

  &__word-input {
    position: relative;
  }

  .translation,
  &__transcription,
  #card-play-audio,
  #card-check-btn,
  #card-skip-btn {
    &.hide {
      display: none;
    }
  }

  .success-word {
    color: #38a1ce
  }
}

.progress-bar {
  display: grid;
  grid-template-areas: "a a a";
  grid-template-columns: 1fr 15fr 1fr;
  width: 90%;
  height: 15px;

  .progress-container {
    border: 1px solid;
    margin: 0 10px;
    background-color: $basicColor5;

    &__progress {
      opacity: 0.7;
      transition: $basicTransition;
      height: 100%;
    }
  }
}

.word-input__errors,
.word-input__input {
  box-sizing: border-box;
  padding: 1px 2px;
  background-color: $basicColor2;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.1em;
}

.word-input__input {
  position: relative;
  opacity: 1;
  outline: none;
  border: none;
  font-family: $mainFont2;

  &.hide-input {
    animation-name: hide-input;
    animation-duration: 5s;
    animation-fill-mode: forwards;

    @keyframes hide-input {
      from {
        opacity: 0;
      }
      to {
        opacity: 0.5;
      }
    }
  }
}

.word-input__errors {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .fail {
    color: #ac0404;
  }

  .success {
    color: #00ad09;
  }
}
