.learning-words {
  width: 100%;
  height: 100%;
  text-align: center;
}

.completion-notice {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  &__wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000ab;
  }

  &__content {
    width: 90%;
    max-width: 500px;
    height: 80%;
    max-height: 600px;
    background-color: $basicColor3;
  }
}

.swiper {
  margin: 0 auto;
  width: 95%;
  height: 95%;
}

// $swiperButtonsMargin: -40px;
// $heightPosterForLargeScreen: 340px;
// $heightPoster: 300px;
// $heightPosterForSmallScreen: 250px;
// $fontSlide: 18px;

.swiper__container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  width: 100%;
  height: 100%;
  user-select: none;
  list-style: none;
}

.swiper-slide {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  transition-duration: 1s;
  align-items: center;
  align-content: flex-start;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 7px;
  padding: 5px;
  // width: 95% !important;
  text-align: center;
  background-color: $basicColor3;
  font-size: 0.8em;

  &__associative {
    position: relative;
    overflow: hidden;
    width: 100%;
    // height: 50%;

    img {
      width: 100%;
    }
  }

  &__word,
  &__meaning,
  &__example {
    margin-bottom: 7px;
    padding-bottom: 3px;
    border-bottom: 1px solid;
    width: 95%;
  }

  &__word-input {
    position: relative;
  }

  .translation,
  &__word,
  &__difficulty-buttons,
  &__vocabulary-buttons {
    display: none;

    &.show {
      display: block;
    }
  }
}

.progress-bar {
  display: grid;
  grid-template-areas: "a a a";
  grid-template-columns: 1fr 15fr 1fr;
  width: 100%;
  height: 15px;

  .progress-container {
    background-color: aquamarine;

    &__progress {
      transition: $basicTransition;
      height: 100%;
      background-color: rgb(255, 255, 128);
    }
  }
}

.word-input__success,
.word-input__input {
  box-sizing: border-box;
  padding: 1px 2px;
  background-color: $basicColor2;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.1em;
}

.word-input__input {
  position: relative;
  opacity: 1;
  outline: none;
  border: none;
  font-family: $mainFont2;

  &.hide-input {
    animation-name: hide-input;
    animation-duration: 5s;
    animation-fill-mode: forwards;

    @keyframes hide-input {
      from {
        opacity: 0;
      }
      to {
        opacity: 0.5;
      }
    }
  }
}

.word-input__success {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .fail {
    color: #ac0404;
  }

  .success {
    color: #00ad09;
  }
}

// .swiper-button-next {
//   right: $swiperButtonsMargin !important;
//   @media (max-width: 1019px) {
//     right: 0 !important;
//   }
// }

// .swiper-button-prev {
//   left: $swiperButtonsMargin !important;
//   @media (max-width: 1019px) {
//     left: 0 !important;
//   }
// }
