.learning-words {
  margin: 0 auto;
  width: 290px;
  // height: 100%;

  .training {
    // display: grid;
    // grid-template-rows: 5fr 1fr 1fr;
    // grid-template-columns: 1fr 1fr;
    // grid-template-areas:
    //   "swiper swiper"
    //   "close close"
    //   "progress-bar progress-bar";
    // justify-items: center;
    // align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .button-close,
  .button-check-word {
    transition: $basicTransition;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    background-color: $basicColor5;
    border: solid 1px #9b9997;
    color: $basicColor1;

    &:hover {
      background-color: $basicColor2;
    }

    &:active {
      transition: none;
      background-color: $basicColor5;
    }
  }

  .button-close {
    // grid-area: close;
    order: 2;
  }
  .progress-bar {
    // grid-area: progress-bar;
    order: 0;
  }

  .button {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $basicColor5;
    border: solid 1px #9b9997;
    color: $basicColor1;
  }

  #notification > .content {
    display: flex;
    flex-flow: column;

    .close-notification-container {
      text-align: right;
    }

    .button-close-notification {
      border-radius: 50%;
      padding: 0;
      width: 30px;
      height: 30px;
    }
  }
}

.completion-notice {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  &__wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000ab;
  }

  &__content {
    width: 90%;
    max-width: 500px;
    height: 80%;
    max-height: 600px;
    background-color: $basicColor3;
  }
}

.swiper {
  // grid-area: swiper;
  order: 1;
  margin: 0 auto;
  width: 90%;
  height: 95%;
}

// $swiperButtonsMargin: -40px;
// $heightPosterForLargeScreen: 340px;
// $heightPoster: 300px;
// $heightPosterForSmallScreen: 250px;
// $fontSlide: 18px;

.swiper__container {
  overflow: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  width: 100%;
  height: 100%;
  user-select: none;
  list-style: none;
}

.swiper-slide {
  // display: grid;
  // grid-template-rows: 1fr 0.2fr 0.4fr 0.4fr 0.1fr 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr;
  // grid-template-columns: 1fr 1fr;
  // grid-template-areas:
  //   "associative associative"
  //   "word-translation word-translation"
  //   "example example"
  //   "meaning meaning"
  //   "transcription transcription"
  //   "word-input word-input"
  //   "btn-skip btn-check"
  //   "difficulty difficulty"
  //   "vocabulary vocabulary"
  //   "btn-play-audio btn-play-audio";
  display: flex;
  flex-flow: column;
  justify-content: center;
  transition-duration: 1s;
  align-items: center;
  // align-content: flex-start;
  box-sizing: border-box;
  border: solid 1px #9b9997;
  border-radius: 7px;
  padding: 5px;
  // width: 95% !important;
  background-color: $basicColor5;
  text-align: center;
  font-size: 0.8em;
  color: $basicColor1;

  &__associative {
    // grid-area: associative;
    order: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    // height: 50%;

    img {
      width: 100%;
    }
  }

  &__example {
    // grid-area: example;
    order: 2;
  }
  &__meaning {
    // grid-area: meaning;
    order: 3;
  }
  &__word-translation {
    // grid-area: word-translation;
    order: 1;
  }
  &__transcription {
    // grid-area: transcription;
    order: 4;
  }
  &__difficulty-buttons {
    // grid-area: difficulty;
    order: 7;
  }
  &__vocabulary-buttons {
    // grid-area: vocabulary;
    order: 8;
  }
  .skip-container {
    // grid-area: btn-skip;
    order: 10;
  }
  .button-check-word {
    // grid-area: btn-check;
    order: 6;
  }
  .button-play-audio {
    // grid-area: btn-play-audio;
    order: 9;
  }
  &__word-input {
    // grid-area: word-input;
    order: 5;
  }

  &__difficulty-buttons {
    display: grid;
    grid-template-areas: "a";
    // grid-template-areas:
    // "title title title title"
    // "btn btn btn btn";
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;

    // .difficulty-buttons__title {
    //   grid-area: title;
    // }
  }
  &__vocabulary-buttons {
    display: grid;
    grid-template-areas:
    "title title"
    "btn btn";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .vocabulary-buttons__title {
      grid-area: title;
      align-self: end;
    }
  }
  // &__word,
  // &__meaning,
  // &__example {
  //   margin-bottom: 7px;
  //   padding-bottom: 3px;
  //   border-bottom: 1px solid;
  //   width: 95%;
  // }

  &__word-input {
    position: relative;
  }

  .translation,
  &__transcription,
  // &__difficulty-buttons,
  // &__vocabulary-buttons,
  #card-play-audio,
  #card-check-btn,
  #card-skip-btn {
    &.hide {
      display: none;
    }
  }

  // .show {
  //   display: block;
  // }
}


.progress-bar {
  display: grid;
  grid-template-areas: "a a a";
  grid-template-columns: 1fr 15fr 1fr;
  width: 90%;
  height: 15px;

  .progress-container {
    margin: 0 10px;
    background-color: aquamarine;

    &__progress {
      transition: $basicTransition;
      height: 100%;
      background-color: rgb(255, 255, 128);
    }
  }
}

.word-input__errors,
.word-input__input {
  box-sizing: border-box;
  padding: 1px 2px;
  background-color: $basicColor2;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.1em;
}

.word-input__input {
  position: relative;
  opacity: 1;
  outline: none;
  border: none;
  font-family: $mainFont2;

  &.hide-input {
    animation-name: hide-input;
    animation-duration: 5s;
    animation-fill-mode: forwards;

    @keyframes hide-input {
      from {
        opacity: 0;
      }
      to {
        opacity: 0.5;
      }
    }
  }
}

.word-input__errors {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .fail {
    color: #ac0404;
  }

  .success {
    color: #00ad09;
  }
}

// .swiper-button-next {
//   right: $swiperButtonsMargin !important;
//   @media (max-width: 1019px) {
//     right: 0 !important;
//   }
// }

// .swiper-button-prev {
//   left: $swiperButtonsMargin !important;
//   @media (max-width: 1019px) {
//     left: 0 !important;
//   }
// }
