$burgerMenuWidth: 220px;

header {
  padding-bottom: 5px;
  border-bottom: 2px solid $basicColor4;
  background-color: #eafbfd;
  font-size: $headerFontSize;

  .button {
    border: none;
    background-color: initial;
    font-family: $mainFont2;
    font-size: 0.5em;
    color: $basicColor4;
  }

/*   .user-email {
    display: none;
  } */

  .logo {
    width: 60px;
    height: 100%;
    background-image: url("../../assets/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.menu {
  position: fixed;
  left: -$burgerMenuWidth;
  top: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: $burgerMenuWidth;
  height: 100vh;
  background-color: $basicColor3;
}

.to-left {
  animation-name: to-left;
}

.to-right {
  animation-name: to-right;
}

@keyframes to-right {
  from {
    display: none;
    left: -$burgerMenuWidth;
  }
  to {
    left: 0;
  }
}

@keyframes to-left {
  from {
    left: 0;
  }
  to {
    left: -$burgerMenuWidth;
    display: none;
  }
}

.header-authorized {
  display: grid;
  grid-template-areas: "burger-button user-name log-out";
  grid-template-columns: 1fr 2fr 1fr;
  height: 60px;

  .header__burger-menu {
    grid-area: burger-button;
    justify-self: center;
    align-self: center;
  }

  .logo {
    grid-area: logo;
    justify-self: center;
  }

  .user-email {
    grid-area: user-name;
    justify-self: center;
    align-self: center;
    font-size: 0.5em;
  }

  .header-button {
    grid-area: log-out;
  }
}

// ======================== Burger button ================================

.header__burger-menu {
  z-index: 10;
  width: 50px;

  label {
    width: 100%;
    height: 100%;
  }
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  width: 1px;
  padding: 0;
}

.hamburger {
  position: relative;
  z-index: 9999;
  transition-duration: 1s;
  margin: 0 auto;
  margin-top: 5px;
  width: 20px;
  height: 30px;
}

.hamburger:hover {
  // filter: invert(100%);
  cursor: pointer;
}

.hamburger::before {
  content: "";
  position: absolute;
  top: -6.5px;
  left: -9.5px;
  border: 2px solid $basicColor4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.hamburger .bar {
  position: absolute;
  display: block;
  transition: all 0.4s ease-in-out;
  width: 23px;
  height: 3px;
  background-color: $basicColor4;
}

.bar1 {
  top: 5px;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.hamburger .bar4 {
  top: 13.5px;
}

.hamburger .bar5 {
  bottom: 5px;
}

.hamburger .bar {
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger .bar2 {
  left: 13.5px;
  transform: rotate(90deg);
  width: 1px;
}

.hamburger .bar3 {
  left: 13.5px;
  width: 1px;
}

.checkbox:checked + label > .hamburger > .bar1 {
  top: 13.5px;
  background-color: transparent;
}

.checkbox:checked + label > .hamburger > .bar2 {
  left: 0px;
  transform: rotate(45deg);
  width: 25px;
}

.checkbox:checked + label > .hamburger > .bar3 {
  left: 0;
  transform: rotate(-45deg);
  width: 25px;
}

.checkbox:checked + label > .hamburger > .bar4 {
  background-color: transparent;
}

.checkbox:checked + label > .hamburger > .bar5 {
  bottom: 13.5px;
  background-color: transparent;
}
