.menu {
  background-color: gray;

  .button {
    color: red;
  }
  .menu-item {
    color: red;
  }

  .user-email {
    color: green;
  }

  .header-button {
    background-color: gray;
  }

  .logo {
    width: 100px;
    height: 100px;
    background-color: blue;
  }
}
