@import "./base/reset.scss";
@import "./base/typography.scss";
@import "./base/basicStyle.scss";
@import "./style-book/style-book.scss";

body {
  background-color: $basicColor1;
  font-family: "Montserrat Regular";
  color: $fontColor;

  &::after {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    background-image: url("../assets/background.svg");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
