@import "./base/reset.scss";
@import "./base/typography.scss";
@import "./base/basicStyle.scss";
@import "./style-book/style-book.scss";

body {
  font-family: "Montserrat Regular";
  &::after {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    opacity: 0.25;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background.svg");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
