.registration {
  fieldset {
    input {
      margin-top: 1rem;

      &:focus {
        outline: none;
      }
    }
  }

  span {
    padding-top: 0.5rem;
    font-size: 0.7rem;
    font-family: $mainFont;
    font-weight: bold;
    text-transform: uppercase;

    i {
      color: rgba(53, 221, 53, 0.8);
      position: relative;
      cursor: help;
      &:hover {
        color: rgba(91, 91, 91, 0.4);
        &:after {
          content: 'The password must contain 8 characters, one uppercase letter, one lowercase letter, one number and one special character from + -_ @ $!% *? & #.,;: [] {}.';
          text-transform: none;
          padding: 7px;
          top: -6.5rem;
          left: -5.5rem;
          background-color: $basicColor5;
          border: 1px solid $basicColor1;
          box-shadow: 0 .5px 2px black;
          font-size: .9rem;
          color: #574c4c;
          text-shadow: none;
          width: 200px;
          height: 85px;
          position: absolute;
        }
      }
    }
  }

  input:disabled {
    opacity: 0.4;
  }

  .password-requirement {
    max-width: 250px;
    color: rgba(91, 91, 91, 0.4);
  }
}

.registration,
.reg {
  .button {
    margin: 0.5rem 0 1rem 0;
    color: $fontColor;
  }
}
