.savannah__game-wrapper {
  display: flex;
  height: 80vh;
  position: relative;
  justify-content: center;
  font-family: $mainFont;
  font-size: $fontSize;

  .savannah-game__word {
    position: absolute;
    top: 0;
    margin: auto;

    h1 {
      font-family: $mainFont;
      font-size: 3rem;
      color: $fontColor;
      font-weight: bold;
      text-shadow: 1px 1px 1px $basicColor4;
    }
  }

  .keyboard-info{
  }

  .hide-word {
    opacity: 0;
    animation: hideAnimation 1.2s ease;
  }

}
