.settings-page__user {
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.05em;
  }

  .user__form {
    text-align: center;

    & > div {
      margin-bottom: 25px;
    }

    .input {
      max-width: 350px;
      padding: 10px;
      width: 90%;
    }
  }

  .button {
    &:hover {
      background-color: $basicColor2;
      color: $basicColor1;
    }

    &:active {
      transition: none;
      background-color: $basicColor5;
    }
  }
}

.button-save-user-data {
  width: 100px;
}

.user__delete-account {
  margin-top: 25px;
  border-top: 1px solid;
  padding: 30px;
  text-align: center;
}
