.settings {
  margin: 0 auto;
  width: 90vw;


  &__words {
    input {
      width: 150px;
    }
  }

  .error {
      animation-name: error;
      animation-duration: 3s;
      animation-fill-mode: forwards;

      @keyframes error {
        from {
          background-color: #ff0000;
        };
        to {
          background-color: #ff000000;
        }
      }
  }
}
